<!DOCTYPE html> 
<html>
<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>

<section id="book-index">
    <ul> <% books.forEach(b => { %>
            <li>
                <a href="/books/<%= b._id %>"><img src="<%= book.coverImage %>" alt="<%= book.title %>" width="100" height="100"></a>
            </li>
        <% }) %>
    </ul>
</section>

<%- include('../partials/footer') %>
</body>
</html>