<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <section class="book-details">
        <div class="column" id="cover-image">
            <img src="<%= book.coverImage %>" alt="Cover Image">
        </div>
        
        <div class="column" id="book-details-info">
            <h2><%= book.title %></h2>
            <div class="author">
            <strong>Author:</strong> <%=book.author %>
            </div>
            <div class="summary">
            <strong>Summary:</strong>
            <p><%= book.summary %></p>
            </div>
        </div>
    
        <div class="column" id="quotes-wrapper">
            <h4>Notable Quotes</h4>
            
            <% if(book.notableQuotes.length) { %>
                        <% book.notableQuotes.forEach(q => { %>
                            <p><%= q.content %></p>
                            <p>- <%= q.characterName %> (<%= q.pageNum %>)</p>
                            <hr>
                        <% }) %>
            <% } else { %>
                <strong>No Notable Quotes</strong>
            <% } %>

            <form action="/books/<%= book._id %>/quotes" method="POST">
                <label>
                    Quote: <textarea name="content" cols="20" rows="3" required></textarea>
                </label>
                <br>
                <label>
                    Character:
                    <input type="text" name="characterName">
                </label>
                <br>
                <label>
                    Page Number:
                    <input type="number" name="pageNum">
                </label>
                <button type="submit">Add Quote</button>
            </form>
        </div>
</section>

    <section class="reviews-wrapper">
        <h3>Reviews</h3>

        <% if(book.reviews.length) { %>
            <% let total = 1 %>
                    <% book.reviews.forEach(r => { %>
                    
                        <!-- <tr>
                            <td><%= r.createdAt.toLocaleDateString() %></td>
                            <td><%= r.content %></td>
                            <td><%= r.rating %></td>
                        </tr> -->
                        <p>User <%= total %>: "<%= r.content %>"
                            <% for (let i = 1; i <= r.rating; i++ ) { %>
                            &starf; <% } %>
                        <% total++ %>
                    <% }) %> </p>
                </tbody>
            </table>
        <% } else { %>
            <h5>No Reviews Yet</h5>
        <% } %>

        <form action="/books/<%= book._id %>/reviews" method="POST">
            <label>
                Review:
                <textarea name="content" cols="20" rows="3" required></textarea>
            </label>
            <label>
                Rating
                <select id="rating-select" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                </select>
            </label>
            <button type="submit">Add Review</button>
        </form>
    </section>

    <%- include('../partials/footer') %>
</body>
</html>